.item{
  margin:0 auto;
  width: 100%;
  min-height: 40px;
  max-height: 100%;
  border: 1px solid var(--borderColor);
  color: var(--textColor);
  border-radius: 8px;
  padding: 0px 10px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  word-break: break-word;
}

.completed{
  text-decoration: line-through;
}
.controlButtons{
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;

}

.controlButtons button{
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--borderColor);
  cursor: pointer;
}

.controlButtons button svg{
  width: 50%;
  height: 50%;
}

.controlButtons button svg path{
  fill: var(--textColor);
  transition: all 0.4s;
}

.controlButtons button:hover{
  background-color: var(--textColor);
}
.controlButtons button:hover svg path{
  fill: var(--textHover);
}

.controlButtons input[type="checkbox"]{
  position: relative;
  width: 40px;
  height: 20px;
  background-color: var(--textHover);
  appearance: none;
  border-radius: 10px;
  box-shadow: inset 0px 0px 2px 0.5px var(--borderColor);
  cursor: pointer; 
}

.controlButtons input[type="checkbox"]::before{
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--textHover);
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: inset 0px 0px 2px 0.5px var(--borderColor);
  transform: scale(1.1);
  transition: all 0.4s;
}
.controlButtons input[type="checkbox"]:checked::before{
  background-color: var(--textHover);
  left: 20px;
}

.controlButtons input[type="checkbox"]:checked{
  background-color: var(--borderColor);
  box-shadow: inset 0px 0px 2px 0.05px var(--textColor);
}



